/.vs/CadastroPacientes/CopilotIndices/17.14.1231.31060
/.vs
/BancoDeDados/bin/Debug/net9.0
/BancoDeDados/obj
/CadastroPacientes/obj
/Models/bin/Debug/net9.0
/Models/obj
/PacientesAPI/bin/Debug/net9.0
/PacientesAPI/obj
